service: movie-service

provider:
  name: aws
  runtime: nodejs6.10
  stage: test
  region: eu-central-1

plugins:
  - serverless-offline

functions:
  movies:
    handler: index.movies
    events:
      - http:
          path: movies
          method: get
          cors: true
